@tailwind utilities;

body {
  --bg: #fff;
  --lightBg: #fff;
  --textNormal: #181818;
  --textTitle: #181818;
  --hr: hsla(0, 20%, 1%, 0.2);

  background-color: var(--bg);
}

.sidediv {
  display: flex;
  flex-direction: row;
}
.toggle-2 {
  display: flex;
  flex-direction: column;
  margin: 4%;
  justify-content: center;
  margin-left: 21%;
  margin-bottom: 22%;
  font-family: sans-serif;
}
.toggle-1 {
  display: flex;
  flex-direction: column;
  margin: 4%;
  justify-content: center;
  margin-left: 21%;
  margin-bottom: 95%;
}

.toggle-1 h6 {
  margin-top: 0;
  font-style: normal;
  font-family: sans-serif;
  font-size: 15px;
  cursor: pointer;
}

.toggle-2 ul {

}

.toggle-2 ul li {
  list-style: none;
  cursor: pointer;
  font-size: 11px;
}
/* .toggle a {
   float: left; 
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 17px;
  outline: transparent;
} */

body.dark {
  -webkit-font-smoothing: antialiased;

  --bg: #1e1e1e;
  --lightBg: #0f0f0f;
  --textNormal: #e0e0e0;
  --textTitle: #fff;
  --hr: hsla(0, 0%, 100%, 0.2);
}
a {
  text-decoration: none;
}
a.gatsby-resp-image-link:hover {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
blockquote {
  color: var(--textTitle);
}

.footnotes {
  word-break: break-all;
}

.fragments {
  height: 5px;
  margin-bottom: 40px;
  
}

.blog-date {
  font-family: sans-serif;
}

.fragments-separator {
  background: linear-gradient(135deg, transparent 25%, #222 25%, #222 50%, transparent 50%, transparent 75%, #222 75%, #222 100%);
  background-size: 7px 7px;
  margin-left: 0;
  max-width: 700px;
}

.list-head {
  font-size: 55px;
  font-weight: 400;
}
.post-footer {
  display: flex;
  margin-top: -30px;
  margin-left: -12px;
}
.list-head2 {
  font-size: 55px;
  font-weight: 400;
}
.list-head2 h1 {
  margin-left: 4px;
}

@media (min-width: 200px) and (max-width: 500px) {
  .list-head {
    font-size: 40px;
    letter-spacing: -3px;
  }
  .list-head2 {
    font-size: 40px;
    letter-spacing: -3px;
  }
}

.blog-links {
  font-size: 14.5px;
  line-height: 17px;
  text-decoration: underline;
}

.date-blogs {
  font-size: 10px;
  margin-left: 7px;
}

@media (min-width: 200px) and (max-width: 500px) {
  .date-blogs {
    margin-left: 4px;
    font-size: 9px
  }

  .blog-links {
    font-size: 12px;
  }
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;
  cursor: pointer;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  outline: 0;
}
.sidebar {
  height: 200px;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  text-align: center;
  background-color: var(--lightBg);
  border-left: solid #35689a;
  border-width: 11px;
}

.main-content {
  background-color: var(--bg);
  position: absolute;
  top: 200px;
  z-index: 10;
  padding: 0 20px 0;
  margin-left: 0;
}

.blog-content {
  padding: 15px;
}

@media only screen and (min-width: 768px) {
  .sidebar {
    height: 100vh;
    width: 380px;
  }
  .main-content {
    padding: 0 100px 0;
    height: 100vh;
    width: calc(100% - 380px);
    margin-left: 380px;
    top: 0;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .sidediv {
    display: flex;
  }
  .toggle {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 4%;
    justify-content: center;
    margin-left: 21%;
  }

  .toggle ul li {
    list-style: none;
    cursor: pointer;
    margin: 3%;
  }
  .toggle ul {
    display: flex;
    flex-direction: row;
  }
}

@media only screen and (min-width: 300px) and (max-width: 480px) {
  .sidediv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .toggle-1 {
    flex-direction: row;
    margin-bottom: 0;
    margin-left: 0;
    margin: 0;
  }

  .toggle-2 {
    display: none;
    align-items: center;
    flex-direction: row;
    margin: 4%;
    margin-left: 0%;
    display: none;
    margin: 0;
    justify-content: center;
  }

  .toggle-2 ul li {
    list-style: none;
    cursor: pointer;
    font-size: 12px;
    margin: 0;
  }
  .toggle-2 ul {
    display: flex;
    flex-direction: row;
    margin: 0;
  }
  .main-content {
    top: 0;
  }
  .sidebar {
    display: none;
  }
}
